<main class="flex-1 h-full w-full relative">
  <div #canvas id="canvas" [style.transform]="state.canvasTransform()">
    
    @for (element of state.elements(); track element.id) {
      <div
        [id]="element.id"
        [className]="element.className"
        [class.selected]="state.selectedElementIds().includes(element.id)"
        [style]="element.style"
        [innerHTML]="element.innerHTML"
        [appDraggable]="element.id"
        [appSetupElement]="element"
        (click)="state.selectElement(element.id, $event.shiftKey)">
      </div>
    }

  </div>
</main>